<!DOCTYPE HTML>

<html>
<head>
    <title>Montage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>
<body class="subpage">

    <header id="header">
        <h1>@Html.ActionLink("Montage", "Index")</h1>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li >@Html.ActionLink("Index", "Index")</li>
            <li><a href="https://app.swaggerhub.com/apis/Montage1/ServerAPI/1.0.0" target="_blank">API</a></li>
            <li><a href="/Identity/Account/Login">Login</a></li>
            <li class="selected">@Html.ActionLink("Contact", "Contact")</li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Main -->
        <section class="wrapper style1">
            <div class="inner">

                <!-- Intro -->
                <div class="row">
                    <section>
                        <div class="image fit-2">
                            <img src="~/images/pill.png" alt="montage-logo.png" />

                        </div>
                        <p class="description"><strong>Montage</strong> is lorem ipsum... </p>
                    </section>

                </div>

                <hr class="major" />

                <!-- Content -->
                <h2 id="content">About Us</h2>
                <h2 id="content">Contact</h2>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
                </ul>


                <hr class="major" />


            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <div class="flex flex-3">
                        <div class="col">
                            <h3>Vestibullum</h3>
                            <ul class="alt">
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                                <li><a href="#">Vis id faucibus montes tempor</a></li>
                                <li><a href="#">Massa amet lobortis vel.</a></li>
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Lobortis</h3>
                            <ul class="alt">
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                                <li><a href="#">Vis id faucibus montes tempor</a></li>
                                <li><a href="#">Massa amet lobortis vel.</a></li>
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Accumsan</h3>
                            <ul class="alt">
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                                <li><a href="#">Vis id faucibus montes tempor</a></li>
                                <li><a href="#">Massa amet lobortis vel.</a></li>
                                <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                    </ul>
                    &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
                </div>
            </footer>

            <!-- Scripts -->

            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/jquery.scrolly.min.js"></script>
            <script src="../assets/js/skel.min.js"></script>
            <script src="../assets/js/util.js"></script>
            <script src="../assets/js/main.js"></script>
            <script src="../lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

</body>
</html>