<style>
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="row">
    <img src="~/Montage_Logo.png" alt="Montage Logo" class="logo" width="500px" />
</div>
<div class="">
    <p style="text-align:center">Query our API at @Html.ActionLink("montageapp.azurewebsites.net/Home/APIView", "APIView", "Home", new { area = "" }, null)</p>
</div>


